* { 
  box-sizing: border-box; 
} 
body { 
  font-family: Arial, Helvetica, sans-serif; 
} 
/* Style the header */ 
.header { 
  background-color: #ffee06; 
  padding: 30px; 
  text-align: center; 
  font-size: 35px; 
} 
/* Create three equal columns that floats next to each other */ 
.column { 
  float: left; 
  /*width: 33.33%; */
  padding: 10px; 
  height: 300px; /* Should be removed. Only for demonstration */ 
} 
.column.side { 
  width: 25%; 
} 
/* Middle column */ 
.column.middle { 
  width: 50%; 
} 
.row:after { 
  content: ""; 
  display: table; 
  clear: both; 
} 
/* Style the footer */ 
.footer { 
  background-color: #f630ec; 
  padding: 10px; 
  text-align: center; 
} 
@media (max-width: 600px) { 
  .column.side, .column.middle { 
    width: 100%; 
  } 
}